---
swagger: "2.0"
info:
  description: "# This API provide access to FACEIT's data"
  version: "4"
  title: "Data API"
  license:
    name: "Property of FACEIT LTD"
host: "open.faceit.com"
basePath: "/data/v4"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- key: []
paths:
  /championships:
    get:
      tags:
      - "Championships"
      summary: "Retrieve all championships of a game"
      description: "Retrieve all championships of a game"
      operationId: "getChampionships"
      produces:
      - "application/json"
      parameters:
      - name: "game"
        in: "query"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "Game"
      - name: "type"
        in: "query"
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        type: "string"
        enum:
        - "all"
        - "upcoming"
        - "ongoing"
        - "past"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 10
        maximum: 10
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Championships list"
          schema:
            $ref: "#/definitions/ChampionshipsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /championships/{championship_id}:
    get:
      tags:
      - "Championships"
      summary: "Retrieve championship details"
      description: "Retrieve championship details"
      operationId: "getChampionship"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "expanded"
        in: "query"
        description: "List of entity names to expand in request"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "organizer"
          - "game"
        collectionFormat: "csv"
        uniqueItems: true
        x-exportParamName: "Expanded"
      responses:
        "200":
          description: "Championship details"
          schema:
            $ref: "#/definitions/Championship"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /championships/{championship_id}/matches:
    get:
      tags:
      - "Championships"
      summary: "Retrieve all matches of a championship"
      description: "Retrieve all matches of a championship"
      operationId: "getChampionshipMatches"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "type"
        in: "query"
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        type: "string"
        enum:
        - "all"
        - "upcoming"
        - "ongoing"
        - "past"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Matches list"
          schema:
            $ref: "#/definitions/MatchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /championships/{championship_id}/results:
    get:
      tags:
      - "Championships"
      summary: "Retrieve all results of a championship"
      description: "Retrieve all results of a championship"
      operationId: "getChampionshipResults"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Championship results"
          schema:
            $ref: "#/definitions/ChampionshipResultList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /championships/{championship_id}/subscriptions:
    get:
      tags:
      - "Championships"
      summary: "Retrieve all subscriptions of a championship"
      description: "Retrieve all subscriptions of a championship"
      operationId: "getChampionshipSubscriptions"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 10
        maximum: 10
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Subscriptions list"
          schema:
            $ref: "#/definitions/ChampionshipSubscriptionsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games:
    get:
      tags:
      - "Games"
      summary: "Retrieve details of all games on FACEIT"
      description: "Retrieve details of all games on FACEIT"
      operationId: "getAllGames"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Games list"
          schema:
            $ref: "#/definitions/GamesList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{gameId}/matchmakings:
    get:
      tags:
      - "Games"
      summary: "Retrieve details of all matchmakings of a game on FACEIT"
      description: "Retrieve details of all matchmakings of a game on FACEIT"
      operationId: "getGameMatchmakings"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "region"
        in: "query"
        description: "The region of the matchmakings"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Matchmakings list"
          schema:
            $ref: "#/definitions/MatchmakingList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}:
    get:
      tags:
      - "Games"
      summary: "Retrieve game details"
      description: "Retrieve game details"
      operationId: "getGame"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      responses:
        "200":
          description: "Game detail"
          schema:
            $ref: "#/definitions/Game"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}/parent:
    get:
      tags:
      - "Games"
      summary: "Retrieve the details of the parent game, if the game is region-specific"
      description: "Retrieve the details of the parent game, if the game is region-specific"
      operationId: "getParentGame"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      responses:
        "200":
          description: "Game detail"
          schema:
            $ref: "#/definitions/Game"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}/queues:
    get:
      tags:
      - "Games"
      summary: "Retrieve queues by filters on FACEIT"
      description: "Retrieve queues by filters on FACEIT. Available only for game\
        \ developers and queue owners(organizers)"
      operationId: "getQueuesByEntityFilters"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "entity_type"
        in: "query"
        description: "The type of the entity"
        required: true
        type: "string"
        x-exportParamName: "EntityType"
      - name: "entity_id"
        in: "query"
        description: "The id of the entity"
        required: true
        type: "string"
        x-exportParamName: "EntityId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 20
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Queues list"
          schema:
            $ref: "#/definitions/QueuesList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}/queues/{queue_id}:
    get:
      tags:
      - "Games"
      summary: "Retrieve details of a queue on FACEIT"
      description: "Retrieve details of a queue on FACEIT. Available only for game\
        \ or queue owners(organizers)"
      operationId: "getQueueById"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "queue_id"
        in: "path"
        description: "The id of the queue"
        required: true
        type: "string"
        x-exportParamName: "QueueId"
      responses:
        "200":
          description: "Queue"
          schema:
            $ref: "#/definitions/Queue"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}/queues/{queue_id}/bans:
    get:
      tags:
      - "Games"
      summary: "Retrieve queue bans on FACEIT"
      description: "Retrieve queue bans on FACEIT. Available only for game or queue\
        \ owners(organizers)"
      operationId: "getQueueBans"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "queue_id"
        in: "path"
        description: "The id of the queue"
        required: true
        type: "string"
        x-exportParamName: "QueueId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Bans list"
          schema:
            $ref: "#/definitions/QueueBansList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /games/{game_id}/regions/{region_id}/queues:
    get:
      tags:
      - "Games"
      summary: "Retrieve queues by region on FACEIT"
      description: "Retrieve queues by region on FACEIT. Available only for game developers"
      operationId: "getQueuesByRegion"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "region_id"
        in: "path"
        description: "The id of the region"
        required: true
        type: "string"
        x-exportParamName: "RegionId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 20
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Queues list"
          schema:
            $ref: "#/definitions/QueuesList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve hub details"
      description: "Retrieve hub details"
      operationId: "getHub"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "expanded"
        in: "query"
        description: "List of entity names to expand in request"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "organizer"
          - "game"
        collectionFormat: "csv"
        uniqueItems: true
        x-exportParamName: "Expanded"
      responses:
        "200":
          description: "Hub details"
          schema:
            $ref: "#/definitions/Hub"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}/matches:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve all matches of a hub"
      description: "Retrieve all matches of a hub"
      operationId: "getHubMatches"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "type"
        in: "query"
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        type: "string"
        enum:
        - "all"
        - "upcoming"
        - "ongoing"
        - "past"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Matches list"
          schema:
            $ref: "#/definitions/MatchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}/members:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve all members of a hub"
      description: "Retrieve all members of a hub"
      operationId: "getHubMembers"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 1000
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Members list"
          schema:
            $ref: "#/definitions/HubMembers"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}/roles:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve all roles members can have in a hub"
      description: "Retrieve all roles members can have in a hub"
      operationId: "getHubRoles"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 1000
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Roles list"
          schema:
            $ref: "#/definitions/RolesList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}/rules:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve rules of a hub"
      description: "Retrieve rules of a hub"
      operationId: "getHubRules"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      responses:
        "200":
          description: "Rules details"
          schema:
            $ref: "#/definitions/Rules"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /hubs/{hub_id}/stats:
    get:
      tags:
      - "Hubs"
      summary: "Retrieve statistics of a hub"
      description: "Retrieve statistics of a hub"
      operationId: "getHubStats"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Hub stats"
          schema:
            $ref: "#/definitions/HubStats"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/championships/{championship_id}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve all leaderboards of a championship"
      description: "Retrieve all leaderboards of a championship"
      operationId: "getChampionshipLeaderboards"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Leaderboards list"
          schema:
            $ref: "#/definitions/LeaderboardsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/championships/{championship_id}/groups/{group}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve group ranking of a championship"
      description: "Retrieve group ranking of a championship"
      operationId: "getChampionshipGroupRanking"
      produces:
      - "application/json"
      parameters:
      - name: "championship_id"
        in: "path"
        description: "The id of the championship"
        required: true
        type: "string"
        x-exportParamName: "ChampionshipId"
      - name: "group"
        in: "path"
        description: "A group of the championship"
        required: true
        type: "integer"
        x-exportParamName: "Group"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Championship ranking"
          schema:
            $ref: "#/definitions/EntityRanking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/hubs/{hub_id}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve all leaderboards of a hub"
      description: "Retrieve all leaderboards of a hub"
      operationId: "getHubLeaderboards"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Leaderboards list"
          schema:
            $ref: "#/definitions/LeaderboardsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/hubs/{hub_id}/general:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve all time ranking of a hub"
      description: "Retrieve all time ranking of a hub"
      operationId: "getHubRanking"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Hub ranking"
          schema:
            $ref: "#/definitions/EntityRanking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/hubs/{hub_id}/seasons/{season}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve seasonal ranking of a hub"
      description: "Retrieve seasonal ranking of a hub"
      operationId: "getHubSeasonRanking"
      produces:
      - "application/json"
      parameters:
      - name: "hub_id"
        in: "path"
        description: "The id of the hub"
        required: true
        type: "string"
        x-exportParamName: "HubId"
      - name: "season"
        in: "path"
        description: "A season of the hub"
        required: true
        type: "integer"
        x-exportParamName: "Season"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Hub ranking"
          schema:
            $ref: "#/definitions/EntityRanking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/{leaderboard_id}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve ranking from a leaderboard id"
      description: "Retrieve ranking from a leaderboard id"
      operationId: "getLeaderboard"
      produces:
      - "application/json"
      parameters:
      - name: "leaderboard_id"
        in: "path"
        description: "The id of the leaderboard"
        required: true
        type: "string"
        x-exportParamName: "LeaderboardId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Competition ranking"
          schema:
            $ref: "#/definitions/EntityRanking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leaderboards/{leaderboard_id}/players/{player_id}:
    get:
      tags:
      - "Leaderboards"
      summary: "Retrieve a players ranking in a leaderboard"
      description: "Retrieve a players ranking in a leaderboard"
      operationId: "getPlayerRankingInLeaderboard"
      produces:
      - "application/json"
      parameters:
      - name: "leaderboard_id"
        in: "path"
        description: "The id of the leaderboard"
        required: true
        type: "string"
        x-exportParamName: "LeaderboardId"
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      responses:
        "200":
          description: "Ranking of the player in the leaderboard"
          schema:
            $ref: "#/definitions/Ranking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leagues/{league_id}:
    get:
      tags:
      - "Leagues"
      summary: "Retrieve details of a league of a matchmaking on FACEIT"
      description: "Retrieve details of a league of a matchmaking on FACEIT"
      operationId: "getLeagueById"
      produces:
      - "application/json"
      parameters:
      - name: "league_id"
        in: "path"
        description: "The id of the league"
        required: true
        type: "string"
        x-exportParamName: "LeagueId"
      responses:
        "200":
          description: "League details"
          schema:
            $ref: "#/definitions/League"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leagues/{league_id}/seasons/{season_id}:
    get:
      tags:
      - "Leagues"
      summary: "Retrieve details of a season of a league on FACEIT"
      description: "Retrieve details of a season of a league on FACEIT"
      operationId: "getLeagueSeason"
      produces:
      - "application/json"
      parameters:
      - name: "league_id"
        in: "path"
        description: "The id of the league"
        required: true
        type: "string"
        x-exportParamName: "LeagueId"
      - name: "season_id"
        in: "path"
        description: "The id of the season"
        required: true
        type: "integer"
        x-exportParamName: "SeasonId"
      responses:
        "200":
          description: "Season details"
          schema:
            $ref: "#/definitions/SeasonDetailed"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /leagues/{league_id}/seasons/{season_id}/players/{player_id}:
    get:
      tags:
      - "Leagues"
      summary: "Retrieve details of a player for a given league and season on FACEIT"
      description: "Retrieve details of a player for a given league and season on\
        \ FACEIT"
      operationId: "getPlayerForLeagueSeason"
      produces:
      - "application/json"
      parameters:
      - name: "league_id"
        in: "path"
        description: "The id of the league"
        required: true
        type: "string"
        x-exportParamName: "LeagueId"
      - name: "season_id"
        in: "path"
        description: "The id of the season"
        required: true
        type: "integer"
        x-exportParamName: "SeasonId"
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      responses:
        "200":
          description: "Player details"
          schema:
            $ref: "#/definitions/PlayerInLeague"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /matches/{match_id}:
    get:
      tags:
      - "Matches"
      summary: "Retrieve match details"
      description: "Retrieve match details"
      operationId: "getMatch"
      produces:
      - "application/json"
      parameters:
      - name: "match_id"
        in: "path"
        description: "The id of the match"
        required: true
        type: "string"
        x-exportParamName: "MatchId"
      responses:
        "200":
          description: "Match details"
          schema:
            $ref: "#/definitions/Match"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /matches/{match_id}/stats:
    get:
      tags:
      - "Matches"
      summary: "Retrieve statistics of a match"
      description: "Retrieve statistics of a match"
      operationId: "getMatchStats"
      produces:
      - "application/json"
      parameters:
      - name: "match_id"
        in: "path"
        description: "The id of the match"
        required: true
        type: "string"
        x-exportParamName: "MatchId"
      responses:
        "200":
          description: "Match stats"
          schema:
            $ref: "#/definitions/MatchStats"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /matchmakings/{matchmaking_id}:
    get:
      tags:
      - "Matchmakings"
      summary: "Retrieve details of a matchmaking of a game on FACEIT"
      description: "Retrieve details of a matchmaking of a game on FACEIT"
      operationId: "getMatchmaking"
      produces:
      - "application/json"
      parameters:
      - name: "matchmaking_id"
        in: "path"
        description: "The id of the matchmaking"
        required: true
        type: "string"
        x-exportParamName: "MatchmakingId"
      responses:
        "200":
          description: "Matchmaking"
          schema:
            $ref: "#/definitions/Matchmaking"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve organizer details from name"
      description: "Retrieve organizer details from name"
      operationId: "getOrganizerByName"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of the organizer"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        "200":
          description: "Organizer details"
          schema:
            $ref: "#/definitions/Organizer"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers/{organizer_id}:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve organizer details"
      description: "Retrieve organizer details"
      operationId: "getOrganizer"
      produces:
      - "application/json"
      parameters:
      - name: "organizer_id"
        in: "path"
        description: "The id of the organizer"
        required: true
        type: "string"
        x-exportParamName: "OrganizerId"
      responses:
        "200":
          description: "Organizer details"
          schema:
            $ref: "#/definitions/Organizer"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers/{organizer_id}/championships:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve all championships of an organizer"
      description: "Retrieve all championships of an organizer"
      operationId: "getOrganizerChampionships"
      produces:
      - "application/json"
      parameters:
      - name: "organizer_id"
        in: "path"
        description: "The id of the organizer"
        required: true
        type: "string"
        x-exportParamName: "OrganizerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Championships list"
          schema:
            $ref: "#/definitions/ChampionshipsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers/{organizer_id}/games:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve all games an organizer is involved with"
      description: "Retrieve all games an organizer is involved with"
      operationId: "getOrganizerGames"
      produces:
      - "application/json"
      parameters:
      - name: "organizer_id"
        in: "path"
        description: "The id of the organizer"
        required: true
        type: "string"
        x-exportParamName: "OrganizerId"
      responses:
        "200":
          description: "Games list"
          schema:
            $ref: "#/definitions/GamesList"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers/{organizer_id}/hubs:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve all hubs of an organizer"
      description: "Retrieve all hubs of an organizer"
      operationId: "getOrganizerHubs"
      produces:
      - "application/json"
      parameters:
      - name: "organizer_id"
        in: "path"
        description: "The id of the organizer"
        required: true
        type: "string"
        x-exportParamName: "OrganizerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 1000
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Hubs list"
          schema:
            $ref: "#/definitions/HubsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /organizers/{organizer_id}/tournaments:
    get:
      tags:
      - "Organizers"
      summary: "Retrieve all tournaments of an organizer"
      description: "Retrieve all tournaments of an organizer"
      operationId: "getOrganizerTournaments"
      produces:
      - "application/json"
      parameters:
      - name: "organizer_id"
        in: "path"
        description: "The id of the organizer"
        required: true
        type: "string"
        x-exportParamName: "OrganizerId"
      - name: "type"
        in: "query"
        description: "Kind of tournament. Can be upcoming(default) or past"
        required: false
        type: "string"
        enum:
        - "past"
        - "upcoming"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Tournaments list"
          schema:
            $ref: "#/definitions/TournamentsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players:
    get:
      tags:
      - "Players"
      summary: "Retrieve player details"
      description: "Retrieve player details"
      operationId: "getPlayerFromLookup"
      produces:
      - "application/json"
      parameters:
      - name: "nickname"
        in: "query"
        description: "The nickname of the player on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Nickname"
        x-optionalDataType: "String"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "game_player_id"
        in: "query"
        description: "The ID of a player on game's platform"
        required: false
        type: "string"
        x-exportParamName: "GamePlayerId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Player details"
          schema:
            $ref: "#/definitions/Player"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}:
    get:
      tags:
      - "Players"
      summary: "Retrieve player details"
      description: "Retrieve player details"
      operationId: "getPlayer"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      responses:
        "200":
          description: "Player details"
          schema:
            $ref: "#/definitions/Player"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/bans:
    get:
      tags:
      - "Players"
      summary: "Retrieve all bans of a player"
      description: "Retrieve all bans of a player"
      operationId: "getPlayerBans"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Bans of a user"
          schema:
            $ref: "#/definitions/PlayerBansList"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/games/{game_id}/stats:
    get:
      tags:
      - "Players"
      summary: "Retrieve statistics of a player for a given amount of matches"
      description: "Retrieve statistics of a player for a given amount of matches"
      operationId: "getPlayerStats"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "game_id"
        in: "path"
        description: "A game on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 200
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "from"
        in: "query"
        description: "Used to filter the dataset by date (minimum). Expected value\
          \ is date (\"items.stats.Match Finished At\") in epoch milliseconds.\n"
        required: false
        type: "integer"
        x-exportParamName: "From"
        x-optionalDataType: "Int32"
      - name: "to"
        in: "query"
        description: "Used to filter the dataset by date (maximum). Expected value\
          \ is date (\"items.stats.Match Finished At\") in epoch milliseconds.\n"
        required: false
        type: "integer"
        x-exportParamName: "To"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Player stats for matches"
          schema:
            $ref: "#/definitions/PlayerStatsForMatchesList"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/history:
    get:
      tags:
      - "Players"
      summary: "Retrieve all matches of a player"
      description: "Retrieve all matches of a player"
      operationId: "getPlayerHistory"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Game"
      - name: "from"
        in: "query"
        description: "The timestamp (Unix time) as lower bound of the query. 1 month\
          \ ago if not specified"
        required: false
        type: "integer"
        minimum: 0
        x-exportParamName: "From"
        x-optionalDataType: "Int32"
      - name: "to"
        in: "query"
        description: "The timestamp (Unix time) as higher bound of the query. Current\
          \ timestamp if not specified"
        required: false
        type: "integer"
        minimum: 0
        x-exportParamName: "To"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 1000
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Player matches list"
          schema:
            $ref: "#/definitions/MatchHistoryList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/hubs:
    get:
      tags:
      - "Players"
      summary: "Retrieve all hubs of a player"
      description: "Retrieve all hubs of a player"
      operationId: "getPlayerHubs"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        maximum: 1000
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Hubs list"
          schema:
            $ref: "#/definitions/HubsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/stats/{game_id}:
    get:
      tags:
      - "Players"
      summary: "Retrieve statistics of a player"
      description: "Retrieve statistics of a player"
      operationId: "getPlayerStats"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "game_id"
        in: "path"
        description: "A game on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      responses:
        "200":
          description: "Player stats"
          schema:
            $ref: "#/definitions/PlayerStats"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/teams:
    get:
      tags:
      - "Players"
      summary: "Retrieve all teams of a player"
      description: "Retrieve all teams of a player"
      operationId: "getPlayerTeams"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Teams of a user"
          schema:
            $ref: "#/definitions/TeamList"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /players/{player_id}/tournaments:
    get:
      tags:
      - "Players"
      summary: "Retrieve all tournaments of a player"
      description: "Retrieve all tournaments of a player"
      operationId: "getPlayerTournaments"
      produces:
      - "application/json"
      parameters:
      - name: "player_id"
        in: "path"
        description: "The id of the player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Tournaments list"
          schema:
            $ref: "#/definitions/TournamentsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /rankings/games/{game_id}/regions/{region}:
    get:
      tags:
      - "Rankings"
      summary: "Retrieve global ranking of a game"
      description: "Retrieve global ranking of a game"
      operationId: "getGlobalRanking"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "region"
        in: "path"
        description: "A region of a game"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "country"
        in: "query"
        description: "A country code (ISO 3166-1)"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Ranking"
          schema:
            $ref: "#/definitions/GlobalRankingList"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /rankings/games/{game_id}/regions/{region}/players/{player_id}:
    get:
      tags:
      - "Rankings"
      summary: "Retrieve user position in the global ranking of a game"
      description: "Retrieve user position in the global ranking of a game"
      operationId: "getPlayerRanking"
      produces:
      - "application/json"
      parameters:
      - name: "game_id"
        in: "path"
        description: "The id of the game"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      - name: "region"
        in: "path"
        description: "A region of a game"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "player_id"
        in: "path"
        description: "The id of a player"
        required: true
        type: "string"
        x-exportParamName: "PlayerId"
      - name: "country"
        in: "query"
        description: "A country code (ISO 3166-1)"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Ranking"
          schema:
            $ref: "#/definitions/PlayerGlobalRanking"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/championships:
    get:
      tags:
      - "Search"
      summary: "Search for championships"
      description: "Search for championships"
      operationId: "searchChampionships"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of a championship on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "region"
        in: "query"
        description: "A region of the game"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "Kind of competitions to return"
        required: false
        type: "string"
        enum:
        - "all"
        - "upcoming"
        - "ongoing"
        - "past"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of championship"
          schema:
            $ref: "#/definitions/CompetitionsSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/clans:
    get:
      tags:
      - "Search"
      summary: "Search for clans"
      description: "Search for clans"
      operationId: "searchClans"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of a clan on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "region"
        in: "query"
        description: "A region of the game"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of hub"
          schema:
            $ref: "#/definitions/ClansSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/hubs:
    get:
      tags:
      - "Search"
      summary: "Search for hubs"
      description: "Search for hubs"
      operationId: "searchHubs"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of a hub on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "region"
        in: "query"
        description: "A region of the game"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of hub"
          schema:
            $ref: "#/definitions/CompetitionsSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/organizers:
    get:
      tags:
      - "Search"
      summary: "Search for organizers"
      description: "Search for organizers"
      operationId: "searchOrganizers"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of a organizer on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of organizers"
          schema:
            $ref: "#/definitions/OrganizersSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/players:
    get:
      tags:
      - "Search"
      summary: "Search for players"
      description: "Search for players"
      operationId: "searchPlayers"
      produces:
      - "application/json"
      parameters:
      - name: "nickname"
        in: "query"
        description: "The nickname of a player on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Nickname"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "country"
        in: "query"
        description: "A country code (ISO 3166-1)"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of players"
          schema:
            $ref: "#/definitions/UsersSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/teams:
    get:
      tags:
      - "Search"
      summary: "Search for teams"
      description: "Search for teams"
      operationId: "searchTeams"
      produces:
      - "application/json"
      parameters:
      - name: "nickname"
        in: "query"
        description: "The nickname of a team on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Nickname"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of teams"
          schema:
            $ref: "#/definitions/TeamsSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /search/tournaments:
    get:
      tags:
      - "Search"
      summary: "Search for tournaments"
      description: "Search for tournaments"
      operationId: "searchTournaments"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "The name of a tournament on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "region"
        in: "query"
        description: "A region of the game"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "Kind of competitions to return"
        required: false
        type: "string"
        enum:
        - "all"
        - "upcoming"
        - "ongoing"
        - "past"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List of tournament"
          schema:
            $ref: "#/definitions/CompetitionsSearchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /teams/{team_id}:
    get:
      tags:
      - "Teams"
      summary: "Retrieve team details"
      description: "Retrieve team details"
      operationId: "getTeam"
      produces:
      - "application/json"
      parameters:
      - name: "team_id"
        in: "path"
        description: "The id of the team"
        required: true
        type: "string"
        x-exportParamName: "TeamId"
      responses:
        "200":
          description: "Team details"
          schema:
            $ref: "#/definitions/Team"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /teams/{team_id}/stats/{game_id}:
    get:
      tags:
      - "Teams"
      summary: "Retrieve statistics of a team"
      description: "Retrieve statistics of a team"
      operationId: "getTeamStats"
      produces:
      - "application/json"
      parameters:
      - name: "team_id"
        in: "path"
        description: "The id of the team"
        required: true
        type: "string"
        x-exportParamName: "TeamId"
      - name: "game_id"
        in: "path"
        description: "A game on FACEIT"
        required: true
        type: "string"
        x-exportParamName: "GameId"
      responses:
        "200":
          description: "Team stats"
          schema:
            $ref: "#/definitions/TeamStats"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /teams/{team_id}/tournaments:
    get:
      tags:
      - "Teams"
      summary: "Retrieve tournaments of a team"
      description: "Retrieve tournaments of a team"
      operationId: "getTeamTournaments"
      produces:
      - "application/json"
      parameters:
      - name: "team_id"
        in: "path"
        description: "The id of the team"
        required: true
        type: "string"
        x-exportParamName: "TeamId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Tournaments list"
          schema:
            $ref: "#/definitions/TournamentsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /tournaments:
    get:
      tags:
      - "Tournaments"
      summary: "Retrieve tournaments v1 (no longer used)"
      description: "Retrieve tournaments v1 (no longer used). Please refer to the\
        \ Championships controller to retrieve tournaments v2"
      operationId: "getTournamentsList"
      produces:
      - "application/json"
      parameters:
      - name: "game"
        in: "query"
        description: "A game on FACEIT"
        required: false
        type: "string"
        x-exportParamName: "Game"
        x-optionalDataType: "String"
      - name: "region"
        in: "query"
        description: "A region of the game"
        required: false
        type: "string"
        x-exportParamName: "Region"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Tournaments list"
          schema:
            $ref: "#/definitions/TournamentsList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /tournaments/{tournament_id}:
    get:
      tags:
      - "Tournaments"
      summary: "Retrieve tournament details"
      description: "Retrieve tournament details"
      operationId: "getTournament"
      produces:
      - "application/json"
      parameters:
      - name: "tournament_id"
        in: "path"
        description: "The id of the tournament"
        required: true
        type: "string"
        x-exportParamName: "TournamentId"
      - name: "expanded"
        in: "query"
        description: "List of entity names to expand in request"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "organizer"
          - "game"
        collectionFormat: "csv"
        uniqueItems: true
        x-exportParamName: "Expanded"
      responses:
        "200":
          description: "Tournament details"
          schema:
            $ref: "#/definitions/Tournament"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /tournaments/{tournament_id}/brackets:
    get:
      tags:
      - "Tournaments"
      summary: "Retrieve brackets of a tournament"
      description: "Retrieve brackets of a tournament"
      operationId: "getTournamentBrackets"
      produces:
      - "application/json"
      parameters:
      - name: "tournament_id"
        in: "path"
        description: "The id of the tournament"
        required: true
        type: "string"
        x-exportParamName: "TournamentId"
      responses:
        "200":
          description: "Rounds and matches list"
          schema:
            $ref: "#/definitions/Brackets"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /tournaments/{tournament_id}/matches:
    get:
      tags:
      - "Tournaments"
      summary: "Retrieve all matches of a tournament"
      description: "Retrieve all matches of a tournament"
      operationId: "getTournamentMatches"
      produces:
      - "application/json"
      parameters:
      - name: "tournament_id"
        in: "path"
        description: "The id of the tournament"
        required: true
        type: "string"
        x-exportParamName: "TournamentId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Matches list"
          schema:
            $ref: "#/definitions/MatchList"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
  /tournaments/{tournament_id}/teams:
    get:
      tags:
      - "Tournaments"
      summary: "Retrieve all teams of a tournament"
      description: "Retrieve all teams of a tournament"
      operationId: "getTournamentTeams"
      produces:
      - "application/json"
      parameters:
      - name: "tournament_id"
        in: "path"
        description: "The id of the tournament"
        required: true
        type: "string"
        x-exportParamName: "TournamentId"
      - name: "offset"
        in: "query"
        description: "The starting item position"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "The number of items to return"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        minimum: 1
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Teams list"
          schema:
            $ref: "#/definitions/TournamentTeams"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "429":
          description: "Too many requests"
        "503":
          description: "Temporarily unavailable"
        default:
          description: "Generic error"
securityDefinitions:
  key:
    description: "API key Authorization"
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  AccessMode:
    type: "object"
    properties:
      BlockVolume:
        $ref: "#/definitions/TypeBlock"
      MountVolume:
        $ref: "#/definitions/TypeMount"
      Scope:
        $ref: "#/definitions/Scope"
      Sharing:
        $ref: "#/definitions/SharingMode"
    title: "AccessMode defines the access mode of a volume."
    x-go-package: "github.com/docker/docker/api/types/volume"
  Address:
    type: "object"
    properties:
      address:
        type: "string"
        x-go-name: "Address"
      city:
        type: "string"
        x-go-name: "City"
      country:
        type: "string"
        x-go-name: "Country"
      postcode:
        type: "string"
        x-go-name: "Postcode"
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  AlgorithmParameters:
    type: "object"
    properties:
      band:
        $ref: "#/definitions/Band"
    example:
      band:
        value: 2
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  Assets:
    type: "object"
    properties:
      color:
        type: "string"
        x-go-name: "Color"
      icon:
        type: "string"
        x-go-name: "Icon"
      image:
        type: "string"
        x-go-name: "Image"
    example:
      image: "image"
      color: "color"
      icon: "icon"
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  AuthenticateOKBody:
    type: "object"
    required:
    - "IdentityToken"
    - "Status"
    properties:
      IdentityToken:
        type: "string"
        description: "An opaque token used to authenticate a user after a successful\
          \ login"
      Status:
        type: "string"
        description: "The status of the authentication"
    description: "AuthenticateOKBody authenticate o k body"
    x-go-package: "github.com/docker/docker/api/types/registry"
  Availability:
    type: "string"
    title: "Availability specifies the availability of the volume."
    x-go-package: "github.com/docker/docker/api/types/volume"
  Band:
    type: "object"
    properties:
      value:
        type: "integer"
        format: "int64"
        x-go-name: "Value"
    example:
      value: 2
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  BirthDate:
    type: "object"
    properties:
      date:
        type: "integer"
        format: "int64"
        x-go-name: "Date"
      month:
        type: "integer"
        format: "int64"
        x-go-name: "Month"
      year:
        type: "integer"
        format: "int64"
        x-go-name: "Year"
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  Brackets:
    type: "object"
    properties:
      game:
        type: "string"
        x-go-name: "Game"
      matches:
        type: "array"
        items:
          $ref: "#/definitions/BracketsMatch"
        x-go-name: "Matches"
      name:
        type: "string"
        x-go-name: "Name"
      rounds:
        type: "array"
        items:
          $ref: "#/definitions/BracketsRound"
        x-go-name: "Rounds"
      status:
        type: "string"
        x-go-name: "Status"
    example:
      game: "game"
      name: "name"
      matches:
      - round: 6
        teams:
          key:
            nickname: "nickname"
            avatar: "avatar"
            team_id: "team_id"
        match_id: "match_id"
        position: 0
        state: "state"
        results:
          score:
            key: 7
          winner: "winner"
        faceit_url: "faceit_url"
      - round: 6
        teams:
          key:
            nickname: "nickname"
            avatar: "avatar"
            team_id: "team_id"
        match_id: "match_id"
        position: 0
        state: "state"
        results:
          score:
            key: 7
          winner: "winner"
        faceit_url: "faceit_url"
      rounds:
      - start_time: 2
        substitution_time: 7
        best_of: 1
        round: 5
        label: "label"
        substitutions_allowed: true
        matches: 5
        starts_asap: true
      - start_time: 2
        substitution_time: 7
        best_of: 1
        round: 5
        label: "label"
        substitutions_allowed: true
        matches: 5
        starts_asap: true
      status: "status"
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  BracketsFaction:
    type: "object"
    properties:
      avatar:
        type: "string"
        x-go-name: "Avatar"
      nickname:
        type: "string"
        x-go-name: "Nickname"
      team_id:
        type: "string"
        x-go-name: "ID"
    example:
      nickname: "nickname"
      avatar: "avatar"
      team_id: "team_id"
    x-go-package: "github.com/faceit/open-data-api/models/externals"
  BracketsMatch:
    type: "object"
    properties:
      faceit_url:
        type: "string"
        x-go-name: "FaceitUrl"
      match_id:
        type: "string"
        x-go-name: "ID"
      position:
        type: "integer"
        format: "int64"
        x-go-name: "Position"
      results:
        $ref: "#/definitions/MatchResult"
      round:
        type: "integer"
        format: "int64"
        x-go-name: "Round"
      state:
        type: "string"
        x-go-name: "State"
      teams:
        type: "object"
        additionalProperties:
          $ref: "#/definitions/BracketsFaction"
        x-go-name: "Teams"
    example:
      round: 6
      teams:
        key:
          nickname: "nickname"
          avatar: "avatar"
          team_id: "team_id"
      match_id: "match_id"
      position: 0
      state: "state"
      results:
        score:
          key: 7
        winner: "winner"
      faceit_url: "faceit_url"
[...]
