openapi: 3.0.1
info:
  title: Data API
  description: '# This API provide access to FACEIT''s data'
  license:
    name: Property of FACEIT LTD
  version: "4"
servers:
- url: https://open.faceit.com/data/v4
security:
- key: []
paths:
  /championships:
    get:
      tags:
      - Championships
      summary: Retrieve all championships of a game
      description: Retrieve all championships of a game
      operationId: getChampionships
      parameters:
      - name: game
        in: query
        description: The id of the game
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all
          - upcoming
          - ongoing
          - past
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 10
          minimum: 1
          type: integer
          default: 10
      responses:
        "200":
          description: Championships list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChampionshipsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /championships/{championship_id}:
    get:
      tags:
      - Championships
      summary: Retrieve championship details
      description: Retrieve championship details
      operationId: getChampionship
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: expanded
        in: query
        description: List of entity names to expand in request
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - organizer
            - game
      responses:
        "200":
          description: Championship details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Championship'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /championships/{championship_id}/matches:
    get:
      tags:
      - Championships
      summary: Retrieve all matches of a championship
      description: Retrieve all matches of a championship
      operationId: getChampionshipMatches
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all
          - upcoming
          - ongoing
          - past
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Matches list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /championships/{championship_id}/results:
    get:
      tags:
      - Championships
      summary: Retrieve all results of a championship
      description: Retrieve all results of a championship
      operationId: getChampionshipResults
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Championship results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChampionshipResultList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /championships/{championship_id}/subscriptions:
    get:
      tags:
      - Championships
      summary: Retrieve all subscriptions of a championship
      description: Retrieve all subscriptions of a championship
      operationId: getChampionshipSubscriptions
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 10
          minimum: 1
          type: integer
          default: 10
      responses:
        "200":
          description: Subscriptions list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChampionshipSubscriptionsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games:
    get:
      tags:
      - Games
      summary: Retrieve details of all games on FACEIT
      description: Retrieve details of all games on FACEIT
      operationId: getAllGames
      parameters:
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Games list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{gameId}/matchmakings:
    get:
      tags:
      - Games
      summary: Retrieve details of all matchmakings of a game on FACEIT
      description: Retrieve details of all matchmakings of a game on FACEIT
      operationId: getGameMatchmakings
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: region
        in: query
        description: The region of the matchmakings
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Matchmakings list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchmakingList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}:
    get:
      tags:
      - Games
      summary: Retrieve game details
      description: Retrieve game details
      operationId: getGame
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Game detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}/parent:
    get:
      tags:
      - Games
      summary: "Retrieve the details of the parent game, if the game is region-specific"
      description: "Retrieve the details of the parent game, if the game is region-specific"
      operationId: getParentGame
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Game detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}/queues:
    get:
      tags:
      - Games
      summary: Retrieve queues by filters on FACEIT
      description: Retrieve queues by filters on FACEIT. Available only for game developers
        and queue owners(organizers)
      operationId: getQueuesByEntityFilters
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: entity_type
        in: query
        description: The type of the entity
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: entity_id
        in: query
        description: The id of the entity
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 20
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Queues list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuesList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}/queues/{queue_id}:
    get:
      tags:
      - Games
      summary: Retrieve details of a queue on FACEIT
      description: Retrieve details of a queue on FACEIT. Available only for game
        or queue owners(organizers)
      operationId: getQueueById
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: queue_id
        in: path
        description: The id of the queue
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queue'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}/queues/{queue_id}/bans:
    get:
      tags:
      - Games
      summary: Retrieve queue bans on FACEIT
      description: Retrieve queue bans on FACEIT. Available only for game or queue
        owners(organizers)
      operationId: getQueueBans
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: queue_id
        in: path
        description: The id of the queue
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Bans list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueBansList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /games/{game_id}/regions/{region_id}/queues:
    get:
      tags:
      - Games
      summary: Retrieve queues by region on FACEIT
      description: Retrieve queues by region on FACEIT. Available only for game developers
      operationId: getQueuesByRegion
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: region_id
        in: path
        description: The id of the region
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 20
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Queues list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuesList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}:
    get:
      tags:
      - Hubs
      summary: Retrieve hub details
      description: Retrieve hub details
      operationId: getHub
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: expanded
        in: query
        description: List of entity names to expand in request
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - organizer
            - game
      responses:
        "200":
          description: Hub details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}/matches:
    get:
      tags:
      - Hubs
      summary: Retrieve all matches of a hub
      description: Retrieve all matches of a hub
      operationId: getHubMatches
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: "Kind of matches to return. Can be all(default), upcoming, ongoing\
          \ or past"
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all
          - upcoming
          - ongoing
          - past
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Matches list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}/members:
    get:
      tags:
      - Hubs
      summary: Retrieve all members of a hub
      description: Retrieve all members of a hub
      operationId: getHubMembers
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 50
      responses:
        "200":
          description: Members list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubMembers'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}/roles:
    get:
      tags:
      - Hubs
      summary: Retrieve all roles members can have in a hub
      description: Retrieve all roles members can have in a hub
      operationId: getHubRoles
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 50
      responses:
        "200":
          description: Roles list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}/rules:
    get:
      tags:
      - Hubs
      summary: Retrieve rules of a hub
      description: Retrieve rules of a hub
      operationId: getHubRules
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Rules details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rules'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /hubs/{hub_id}/stats:
    get:
      tags:
      - Hubs
      summary: Retrieve statistics of a hub
      description: Retrieve statistics of a hub
      operationId: getHubStats
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Hub stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubStats'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/championships/{championship_id}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve all leaderboards of a championship
      description: Retrieve all leaderboards of a championship
      operationId: getChampionshipLeaderboards
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Leaderboards list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/championships/{championship_id}/groups/{group}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve group ranking of a championship
      description: Retrieve group ranking of a championship
      operationId: getChampionshipGroupRanking
      parameters:
      - name: championship_id
        in: path
        description: The id of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: group
        in: path
        description: A group of the championship
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Championship ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityRanking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/hubs/{hub_id}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve all leaderboards of a hub
      description: Retrieve all leaderboards of a hub
      operationId: getHubLeaderboards
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Leaderboards list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/hubs/{hub_id}/general:
    get:
      tags:
      - Leaderboards
      summary: Retrieve all time ranking of a hub
      description: Retrieve all time ranking of a hub
      operationId: getHubRanking
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Hub ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityRanking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/hubs/{hub_id}/seasons/{season}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve seasonal ranking of a hub
      description: Retrieve seasonal ranking of a hub
      operationId: getHubSeasonRanking
      parameters:
      - name: hub_id
        in: path
        description: The id of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: season
        in: path
        description: A season of the hub
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Hub ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityRanking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/{leaderboard_id}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve ranking from a leaderboard id
      description: Retrieve ranking from a leaderboard id
      operationId: getLeaderboard
      parameters:
      - name: leaderboard_id
        in: path
        description: The id of the leaderboard
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Competition ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityRanking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leaderboards/{leaderboard_id}/players/{player_id}:
    get:
      tags:
      - Leaderboards
      summary: Retrieve a players ranking in a leaderboard
      description: Retrieve a players ranking in a leaderboard
      operationId: getPlayerRankingInLeaderboard
      parameters:
      - name: leaderboard_id
        in: path
        description: The id of the leaderboard
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Ranking of the player in the leaderboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ranking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leagues/{league_id}:
    get:
      tags:
      - Leagues
      summary: Retrieve details of a league of a matchmaking on FACEIT
      description: Retrieve details of a league of a matchmaking on FACEIT
      operationId: getLeagueById
      parameters:
      - name: league_id
        in: path
        description: The id of the league
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: League details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leagues/{league_id}/seasons/{season_id}:
    get:
      tags:
      - Leagues
      summary: Retrieve details of a season of a league on FACEIT
      description: Retrieve details of a season of a league on FACEIT
      operationId: getLeagueSeason
      parameters:
      - name: league_id
        in: path
        description: The id of the league
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: season_id
        in: path
        description: The id of the season
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Season details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonDetailed'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /leagues/{league_id}/seasons/{season_id}/players/{player_id}:
    get:
      tags:
      - Leagues
      summary: Retrieve details of a player for a given league and season on FACEIT
      description: Retrieve details of a player for a given league and season on FACEIT
      operationId: getPlayerForLeagueSeason
      parameters:
      - name: league_id
        in: path
        description: The id of the league
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: season_id
        in: path
        description: The id of the season
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerInLeague'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /matches/{match_id}:
    get:
      tags:
      - Matches
      summary: Retrieve match details
      description: Retrieve match details
      operationId: getMatch
      parameters:
      - name: match_id
        in: path
        description: The id of the match
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Match details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /matches/{match_id}/stats:
    get:
      tags:
      - Matches
      summary: Retrieve statistics of a match
      description: Retrieve statistics of a match
      operationId: getMatchStats
      parameters:
      - name: match_id
        in: path
        description: The id of the match
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Match stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchStats'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /matchmakings/{matchmaking_id}:
    get:
      tags:
      - Matchmakings
      summary: Retrieve details of a matchmaking of a game on FACEIT
      description: Retrieve details of a matchmaking of a game on FACEIT
      operationId: getMatchmaking
      parameters:
      - name: matchmaking_id
        in: path
        description: The id of the matchmaking
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Matchmaking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matchmaking'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers:
    get:
      tags:
      - Organizers
      summary: Retrieve organizer details from name
      description: Retrieve organizer details from name
      operationId: getOrganizerByName
      parameters:
      - name: name
        in: query
        description: The name of the organizer
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Organizer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers/{organizer_id}:
    get:
      tags:
      - Organizers
      summary: Retrieve organizer details
      description: Retrieve organizer details
      operationId: getOrganizer
      parameters:
      - name: organizer_id
        in: path
        description: The id of the organizer
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Organizer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers/{organizer_id}/championships:
    get:
      tags:
      - Organizers
      summary: Retrieve all championships of an organizer
      description: Retrieve all championships of an organizer
      operationId: getOrganizerChampionships
      parameters:
      - name: organizer_id
        in: path
        description: The id of the organizer
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Championships list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChampionshipsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers/{organizer_id}/games:
    get:
      tags:
      - Organizers
      summary: Retrieve all games an organizer is involved with
      description: Retrieve all games an organizer is involved with
      operationId: getOrganizerGames
      parameters:
      - name: organizer_id
        in: path
        description: The id of the organizer
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Games list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamesList'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers/{organizer_id}/hubs:
    get:
      tags:
      - Organizers
      summary: Retrieve all hubs of an organizer
      description: Retrieve all hubs of an organizer
      operationId: getOrganizerHubs
      parameters:
      - name: organizer_id
        in: path
        description: The id of the organizer
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 50
      responses:
        "200":
          description: Hubs list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /organizers/{organizer_id}/tournaments:
    get:
      tags:
      - Organizers
      summary: Retrieve all tournaments of an organizer
      description: Retrieve all tournaments of an organizer
      operationId: getOrganizerTournaments
      parameters:
      - name: organizer_id
        in: path
        description: The id of the organizer
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: Kind of tournament. Can be upcoming(default) or past
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - past
          - upcoming
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Tournaments list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players:
    get:
      tags:
      - Players
      summary: Retrieve player details
      description: Retrieve player details
      operationId: getPlayerFromLookup
      parameters:
      - name: nickname
        in: query
        description: The nickname of the player on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: game_player_id
        in: query
        description: The ID of a player on game's platform
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}:
    get:
      tags:
      - Players
      summary: Retrieve player details
      description: Retrieve player details
      operationId: getPlayer
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/bans:
    get:
      tags:
      - Players
      summary: Retrieve all bans of a player
      description: Retrieve all bans of a player
      operationId: getPlayerBans
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Bans of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerBansList'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/games/{game_id}/stats:
    get:
      tags:
      - Players
      summary: Retrieve statistics of a player for a given amount of matches
      description: Retrieve statistics of a player for a given amount of matches
      operationId: getPlayerStats
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: game_id
        in: path
        description: A game on FACEIT
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: from
        in: query
        description: |
          Used to filter the dataset by date (minimum). Expected value is date ("items.stats.Match Finished At") in epoch milliseconds.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: to
        in: query
        description: |
          Used to filter the dataset by date (maximum). Expected value is date ("items.stats.Match Finished At") in epoch milliseconds.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Player stats for matches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStatsForMatchesList'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/history:
    get:
      tags:
      - Players
      summary: Retrieve all matches of a player
      description: Retrieve all matches of a player
      operationId: getPlayerHistory
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: from
        in: query
        description: The timestamp (Unix time) as lower bound of the query. 1 month
          ago if not specified
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: to
        in: query
        description: The timestamp (Unix time) as higher bound of the query. Current
          timestamp if not specified
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Player matches list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchHistoryList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/hubs:
    get:
      tags:
      - Players
      summary: Retrieve all hubs of a player
      description: Retrieve all hubs of a player
      operationId: getPlayerHubs
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 50
      responses:
        "200":
          description: Hubs list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/stats/{game_id}:
    get:
      tags:
      - Players
      summary: Retrieve statistics of a player
      description: Retrieve statistics of a player
      operationId: getPlayerStats
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: game_id
        in: path
        description: A game on FACEIT
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Player stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStats'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/teams:
    get:
      tags:
      - Players
      summary: Retrieve all teams of a player
      description: Retrieve all teams of a player
      operationId: getPlayerTeams
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Teams of a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamList'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /players/{player_id}/tournaments:
    get:
      tags:
      - Players
      summary: Retrieve all tournaments of a player
      description: Retrieve all tournaments of a player
      operationId: getPlayerTournaments
      parameters:
      - name: player_id
        in: path
        description: The id of the player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Tournaments list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /rankings/games/{game_id}/regions/{region}:
    get:
      tags:
      - Rankings
      summary: Retrieve global ranking of a game
      description: Retrieve global ranking of a game
      operationId: getGlobalRanking
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: region
        in: path
        description: A region of a game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: country
        in: query
        description: A country code (ISO 3166-1)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalRankingList'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /rankings/games/{game_id}/regions/{region}/players/{player_id}:
    get:
      tags:
      - Rankings
      summary: Retrieve user position in the global ranking of a game
      description: Retrieve user position in the global ranking of a game
      operationId: getPlayerRanking
      parameters:
      - name: game_id
        in: path
        description: The id of the game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: region
        in: path
        description: A region of a game
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: player_id
        in: path
        description: The id of a player
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: country
        in: query
        description: A country code (ISO 3166-1)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Ranking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGlobalRanking'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/championships:
    get:
      tags:
      - Search
      summary: Search for championships
      description: Search for championships
      operationId: searchChampionships
      parameters:
      - name: name
        in: query
        description: The name of a championship on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: A region of the game
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: Kind of competitions to return
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all
          - upcoming
          - ongoing
          - past
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of championship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionsSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/clans:
    get:
      tags:
      - Search
      summary: Search for clans
      description: Search for clans
      operationId: searchClans
      parameters:
      - name: name
        in: query
        description: The name of a clan on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: A region of the game
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClansSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/hubs:
    get:
      tags:
      - Search
      summary: Search for hubs
      description: Search for hubs
      operationId: searchHubs
      parameters:
      - name: name
        in: query
        description: The name of a hub on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: A region of the game
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionsSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/organizers:
    get:
      tags:
      - Search
      summary: Search for organizers
      description: Search for organizers
      operationId: searchOrganizers
      parameters:
      - name: name
        in: query
        description: The name of a organizer on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of organizers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizersSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/players:
    get:
      tags:
      - Search
      summary: Search for players
      description: Search for players
      operationId: searchPlayers
      parameters:
      - name: nickname
        in: query
        description: The nickname of a player on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: A country code (ISO 3166-1)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of players
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/teams:
    get:
      tags:
      - Search
      summary: Search for teams
      description: Search for teams
      operationId: searchTeams
      parameters:
      - name: nickname
        in: query
        description: The nickname of a team on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /search/tournaments:
    get:
      tags:
      - Search
      summary: Search for tournaments
      description: Search for tournaments
      operationId: searchTournaments
      parameters:
      - name: name
        in: query
        description: The name of a tournament on FACEIT
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: A region of the game
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: Kind of competitions to return
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all
          - upcoming
          - ongoing
          - past
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: List of tournament
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionsSearchList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /teams/{team_id}:
    get:
      tags:
      - Teams
      summary: Retrieve team details
      description: Retrieve team details
      operationId: getTeam
      parameters:
      - name: team_id
        in: path
        description: The id of the team
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /teams/{team_id}/stats/{game_id}:
    get:
      tags:
      - Teams
      summary: Retrieve statistics of a team
      description: Retrieve statistics of a team
      operationId: getTeamStats
      parameters:
      - name: team_id
        in: path
        description: The id of the team
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: game_id
        in: path
        description: A game on FACEIT
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Team stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamStats'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /teams/{team_id}/tournaments:
    get:
      tags:
      - Teams
      summary: Retrieve tournaments of a team
      description: Retrieve tournaments of a team
      operationId: getTeamTournaments
      parameters:
      - name: team_id
        in: path
        description: The id of the team
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Tournaments list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /tournaments:
    get:
      tags:
      - Tournaments
      summary: Retrieve tournaments v1 (no longer used)
      description: Retrieve tournaments v1 (no longer used). Please refer to the Championships
        controller to retrieve tournaments v2
      operationId: getTournamentsList
      parameters:
      - name: game
        in: query
        description: A game on FACEIT
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: A region of the game
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The starting item position
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Tournaments list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentsList'
        "400":
          description: Bad request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /tournaments/{tournament_id}:
    get:
      tags:
      - Tournaments
      summary: Retrieve tournament details
      description: Retrieve tournament details
      operationId: getTournament
      parameters:
      - name: tournament_id
        in: path
        description: The id of the tournament
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: expanded
        in: query
        description: List of entity names to expand in request
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - organizer
            - game
      responses:
        "200":
          description: Tournament details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /tournaments/{tournament_id}/brackets:
    get:
      tags:
      - Tournaments
      summary: Retrieve brackets of a tournament
      description: Retrieve brackets of a tournament
      operationId: getTournamentBrackets
      parameters:
      - name: tournament_id
        in: path
        description: The id of the tournament
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Rounds and matches list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brackets'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Not Found
          content: {}
        "429":
          description: Too many requests
          content: {}
        "503":
          description: Temporarily unavailable
          content: {}
        default:
          description: Generic error
          content: {}
  /tournaments/{tournament_id}/matches:
    get:
      tags:
      - Tournaments
      summary: Retrieve all matches of a tournament
      description: Retrieve all matches of a tournament
      operationId: getTournamentMatches
      parameters:
      - name: tournament_id
        in: path
        description: The id of the tournament
        required: true
        style: simple
        explode: false
[...]
